<div class="dashboard-content">
  <mat-list class="machine-list">
    <mat-list-item *ngFor="let m of machines">
      <mat-icon matListIcon>build</mat-icon>
      <div matLine>{{ m.name }}</div>
      <div matLine>
        {{ m.latitude.toFixed(5) }}, {{ m.longitude.toFixed(5) }}
        — Status: {{ MachineStatus[m.status] }}
      </div>
    </mat-list-item>
  </mat-list>

   <div class="legend-list">
    <div *ngFor="let s of statusList" class="legend-item">
      <span
        class="legend-dot"
        [ngStyle]="{ 'background-color': statusColor(s.value) }"
      ></span>
      <span class="legend-label">{{ s.label }}</span>
    </div>
  </div>
 <div class="map-search">
    <mat-form-field appearance="outline" class="search-field">
      <mat-label>Procurar por máquina</mat-label>
      <input matInput #searchInput (input)="onSearch(searchInput.value)" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <div *ngIf="searchResults.length" class="search-results">
      <div
        *ngFor="let item of searchResults"
        class="search-item"
        [class.active]="item.id === highlightedId"
        (click)="selectMachine(item.id)"
      >
        {{ item.name }}
      </div>
    </div>
  </div>
  <div class="map-card">
    <div id="map" class="map-container"></div>
  </div>
</div>